<div class="card">
  <div class="card-header">
    <clr-icon shape="user"></clr-icon>
    Sign up
  </div>
  <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
    <div class="card-block">
      <app-alert [typeAlert]="typeAlert" [textAlert]="textText" ></app-alert>
      <div class="card-text" *ngIf="showForm">
        <section class="form-block">
          <div>
            <label class="col-lg-4">Name </label>
            <label class="col-lg-7" aria-haspopup="true" [ngClass]="{'tooltip tooltip-validation invalid tooltip-md': !firstNameControl.valid && firstNameControl.dirty }" >
              <input  class="col-lg-12"
                      type="text"
                      placeholder="Enter you name"
                      #firstNameControl="ngModel" required
                      [(ngModel)]="firstName" name="firstName"
              >
              <span class="tooltip-content" [hidden]="firstNameControl.valid || firstNameControl.pristine">
                    Nom n'est pas valide!
                  </span>
            </label>
          </div>
          <br>
          <div>
            <label class="col-lg-4">First Name</label>
            <label class="col-lg-7" aria-haspopup="true" [ngClass]="{'tooltip tooltip-validation invalid tooltip-md': !lastNameControl.valid && lastNameControl.dirty }" >
              <input  class="col-lg-12"
                      type="text"
                      placeholder="Enter you First Name"
                      #lastNameControl="ngModel" required
                      [(ngModel)]="lastName" name="lastName"
              >
              <span class="tooltip-content" [hidden]="lastNameControl.valid || lastNameControl.pristine">
                    Prenom n'est pas valid!
                  </span>
            </label>
          </div>
          <br>
          <div>
            <label class="col-lg-4">Email </label>
            <label class="col-lg-7" aria-haspopup="true" [ngClass]="{'tooltip tooltip-validation invalid tooltip-md': !emailControl.valid && emailControl.dirty }" >
              <input  class="col-lg-12"
                      type="email"
                      placeholder="Enter you email"
                      #emailControl="ngModel" required email
                      [(ngModel)]="email" name="email"
              >
              <span class="tooltip-content" [hidden]="emailControl.valid || emailControl.pristine">
                    Enter your email!
                  </span>
            </label>
          </div>
          <br>
          <div>
            <label class="col-lg-4">Phone </label>
            <label class="col-lg-7" aria-haspopup="true" [ngClass]="{'tooltip tooltip-validation invalid tooltip-md': !phoneControl.valid && phoneControl.dirty }" >
              <input  class="col-lg-12"
                      type="number"
                      placeholder="Entry your phone"
                      #phoneControl="ngModel" required min="10" max="10"
                      [(ngModel)]="phone" name="phone"
              >
              <span class="tooltip-content" [hidden]="phoneControl.valid || phoneControl.pristine">
                    Enter your phone!
                  </span>
            </label>
          </div>
          <br>
          <div>
            <label class="col-lg-4">Birth date </label>
            <label class="col-lg-7" aria-haspopup="true" [ngClass]="{'tooltip tooltip-validation invalid tooltip-md': !birthdayControl.valid && birthdayControl.dirty }" >
              <input  class="col-lg-12"
                      type="date"
                      #birthdayControl="ngModel" required
                      [(ngModel)]="birthday" name="birthday"
              >
              <span class="tooltip-content" [hidden]="birthdayControl.valid || birthdayControl.pristine">
                    Birth date invalid!
                  </span>
            </label>
          </div>
          <br>
          <div>
            <label class="col-lg-4">Password </label>
            <label class="col-lg-7" aria-haspopup="true" [ngClass]="{'tooltip tooltip-validation invalid tooltip-md': !passwordControl.valid && passwordControl.dirty }" >
              <input  class="col-lg-12"
                      type="password"
                      placeholder="Enter your password"
                      #passwordControl="ngModel" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
                      [(ngModel)]="password" name="password"
              >
              <span class="tooltip-content" [hidden]="passwordControl.valid || passwordControl.pristine">
                    Password invalid!
                  </span>
            </label>
          </div>
          <br>
          <div>
            <label class="col-lg-4"></label>
            <label  class="col-lg-7" aria-haspopup="true"
                    [ngClass]="{'tooltip tooltip-validation invalid tooltip-md': registerForm.value.passwordConfirm !== registerForm.value.password && passwordConfirmControl.dirty &&  passwordConfirmControl.dirty }" >
              <input class="col-lg-12"
                      type="password"
                      placeholder="Confirm your password"
                      #passwordConfirmControl="ngModel" required
                      [(ngModel)]="passwordConfirm" name="passwordConfirm"
              >
              <span class="tooltip-content" [hidden]="(passwordConfirmControl.pristine || passwordControl.pristine) || registerForm.value.passwordConfirm === registerForm.value.password">
                    Is not equal to password!
                  </span>
            </label>
          </div>
        </section>
      </div>
    </div>
    <div class="card-footer" *ngIf="showForm">
      <input type="submit" class="btn btn-primary" [disabled]="registerForm.form.invalid || registerForm.value.passwordConfirm !== registerForm.value.password" value="Register" >
    </div>
  </form>
</div>