<mat-tab-group>
  <mat-tab label="Login">
    <form class="login-form" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
      <mat-form-field class="full-form-field">
        <input matInput
               placeholder="Email"
               type="email"
               name="email"
               email required
               #emailControl="ngModel" required email
               [(ngModel)]="email"
        >
        <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-form-field">
        <input matInput
               type="password"
               placeholder="Password"
               name="password"
               required
               #passwordControl="ngModel"
               [(ngModel)]="password"
        >
      </mat-form-field>

    </form>
  </mat-tab>
  <mat-tab label="Register">Content 2</mat-tab>
</mat-tab-group>
<div mat-dialog-actions>
  <button mat-raised-button color="primary">Validate</button>
</div>
