<app-header></app-header>
<mat-grid-list cols="4" >
    <mat-drawer-container autosize>
        <mat-drawer #drawer mode="side" opened="true">
            <mat-nav-list>
                <a mat-list-item>
                    <mat-icon mat-list-icon>folder</mat-icon>
                    okwwxc wcwxc xwcwxc
                </a>
                <a mat-list-item>
                    <mat-icon mat-list-icon>folder</mat-icon>
                    okwwxc wcwxc xwcwxc
                </a>
            </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
            <mat-grid-list cols="4">
                <mat-grid-tile
                        *ngFor="let tile of tiles"
                        [colspan]="tile.cols"
                        [rowspan]="tile.rows"
                        [style.background]="tile.color">
                    {{tile.text}}
                </mat-grid-tile>
            </mat-grid-list>
        </mat-drawer-content>
    </mat-drawer-container>
</mat-grid-list>