<clr-vertical-nav-group
        *ngFor="let categorie of categories"
        routerLinkActive="active">
    <clr-icon [attr.shape]="categorie.icon" clrVerticalNavIcon></clr-icon>
    {{ categorie.title }}
    <clr-vertical-nav-group-children>
        <a clrVerticalNavLink
           routerLink="./normal/pidgey"
           routerLinkActive="active">
            {{ categorie.title }}
        </a>
        <a clrVerticalNavLink
           routerLink="./normal/snorlax"
           routerLinkActive="active">
            Snorlax
        </a>
    </clr-vertical-nav-group-children>
</clr-vertical-nav-group>