<mat-toolbar>
  <button mat-icon-button type="button" mat-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>IN SHOP</h1>
  <div class="menu-acount">
    <button mat-button type="button" (click)="openAddFileDialog()">
      <mat-icon>account_box</mat-icon> Your Acount
    </button>
  </div>
</mat-toolbar>