<div class="container">
  <main class="content-area">
    <h1>
      Your Account
    </h1>
    <div class="row">
      <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-header">
            My information
          </div>
          <div class="card-block">
            <div class="card-media-block">
              <img src="https://vmware.github.io/clarity/assets/images/documentation/cards/placeholder_60x60.png" class="card-media-image">
              <div class="card-media-description">
                <span class="card-media-title">
                    First Name : {{ profile.firstName }}
                </span>
                <span class="card-media-text">
                    Name : {{ profile.lastName }}
                </span>
              </div>
            </div>
            <div class="card-text">
              Change login, name and mobile phone number
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-sm btn-link">Modifier</button>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-header">
            Address
          </div>
          <div class="card-block">
            <div class="card-title">
              {{ profile.firstName }} {{ profile.lastName }}
            </div>
            <div class="card-text">
              ...
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-sm btn-link">Footer Action 1</button>
            <button class="btn btn-sm btn-link">Footer Action 2</button>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-header">
            Header
          </div>
          <div class="card-block">
            <div class="card-title">
              Block
            </div>
            <div class="card-text">
              ...
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-sm btn-link">Footer Action 1</button>
            <button class="btn btn-sm btn-link">Footer Action 2</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>